---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			question: 'How can Plan a Class help me?',
			answer: `That’s easy, how many times have you been in the middle of a lesson, and even you are bored. The students are lifeless and nothing you do seems to lift them. While there is no one size fits all, we offer targeted TPR activities for appropriate ages, and team activities for those older students that’ll look at you as if you were an alien if you expected them to run around. All of which, are relevant to the target language of the lesson.

`,
		},
		{
			question: 'How to use Plan a Class?',
			answer: `We’ve made it as user friendly as possible, search our library using a variety of keywords, for example, IELTS, this would bring up our most popular lessons. But of course, you can search for something more specific, such as, Mindset 2 Unit 5 speaking. Find the lesson, then simply download all the related materials. 

`,
		},
	],
	[
		{
			question: 'What makes Plan a Class better than other course content websites?',
			answer: `While there are numerous other sites that are useful for ESL teachers with an almost unlimited supply of worksheets and other teaching aids. Well, we here at plan class are experienced teachers, who genuinely care about the value our students get from each and every lesson. Our lesson plans don’t include time wasters, such as colour by numbers, or 3 or 4 identical worksheets that although look slightly different, are ultimately the same. We have only content that is relevant, insightful and engaging.`,
		},
	],
];
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="max-w-lg mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading">
				Frequently Asked Questions
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<p class="mb-4 text-xl font-bold">
									<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block" />
									{question}
								</p>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>
